<Header> This is is where we develop a baseline factor model that allows us to take certain factors and use them in multi-OLS regression to predict our excess return signals on a security level. These signals are absolute. </Header>

In [29]:
#First, import our packages for the database connection and dataframe access
import mysql.connector
import pandas as pd
#pd datareader not working
#import pandas_datareader as pdr

In [2]:
# Connect to MySQL database
connection = mysql.connector.connect(
    host="ubctg.con7266gcvin.us-east-2.rds.amazonaws.com",
    user="admin",
    password="ubctgquant",
    database="ubctg"
)

Here, we pull monthly returns across the stock universe over 10 years from 2011 to 2021

In [3]:
# Create a cursor object to execute SQL queries
cursor = connection.cursor()

# Define the start and end dates
start_date = '2011-01-01'
end_date = '2021-01-31'

# SQL query to retrieve data from the "Volatility" table between two dates
sql_query = f"SELECT * FROM `Monthly Returns` mr WHERE Date BETWEEN '{start_date}' AND '{end_date}'"

# Execute the SQL query
cursor.execute(sql_query)

# Fetch all rows from the result set
universe_data = cursor.fetchall()

# Convert fetched data into a pandas DataFrame
columns = [i[0] for i in cursor.description]  # Extract column names from cursor description

#create new df
universe_df = pd.DataFrame(universe_data, columns=columns)

#close cursor and db connection
cursor.close()

# Print the DataFrame
universe_df

,PERMNO,date,COMNAM,NAICS,PERMCO,DCLRDT,DLPDT,PAYDT,RCRDDT,FACPR,FACSHR,ACPERM,ACCOMP,DLPRC,PRC,VOL,RET,BID,ASK
0,10001,2011-01-31,GAS NATURAL INC,221210,7953,2011-01-05,,2011-01-31,2011-01-14,0.0,0.0,,,NaN,10.78000,4648.0,0.028992,10.72000,10.74000
1,10001,2011-02-28,GAS NATURAL INC,221210,7953,2011-01-26,,2011-02-28,2011-02-15,0.0,0.0,,,NaN,10.98000,4586.0,0.022727,10.96000,10.99000
2,10001,2011-03-31,GAS NATURAL INC,221210,7953,2011-02-23,,2011-03-31,2011-03-15,0.0,0.0,,,NaN,11.73000,4137.0,0.072404,11.72000,11.73000
3,10001,2011-04-29,GAS NATURAL INC,221210,7953,2011-03-30,,2011-04-29,2011-04-15,0.0,0.0,,,NaN,11.23000,4109.0,-0.038789,11.21000,11.23000
4,10001,2011-05-31,GAS NATURAL INC,221210,7953,2011-04-27,,2011-05-31,2011-05-13,0.0,0.0,,,NaN,11.50000,4979.0,0.028050,11.46000,11.50000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887531,93436,2020-09-30,TESLA INC,336111,53453,,,,,NaN,NaN,,,NaN,429.01001,17331954.0,-0.139087,428.82001,429.01999
887532,93436,2020-10-30,TESLA INC,336111,53453,,,,,NaN,NaN,,,NaN,388.04001,8330610.0,-0.095499,388.04001,388.35001
887533,93436,2020-11-30,TESLA INC,336111,53453,,,,,NaN,NaN,,,NaN,567.59998,7811501.0,0.462736,566.09998,566.85999
887534,93436,2020-12-31,TESLA INC,336111,53453,,,,,NaN,NaN,,,NaN,705.66998,11962716.0,0.243252,705.21002,705.50000
887535,93436,2021-01-29,TESLA INC,336111,53453,,,,,NaN,NaN,,,NaN,793.53003,7038597.0,0.124506,793.21997,793.25000

Generate the number of observations per security in our table. This way we can remove those that do not have a full dataset

In [4]:
# Create a cursor object to execute SQL queries
cursor = connection.cursor()

# Define the start and end dates
start_date = '2011-01-01'
end_date = '2021-01-31'

# SQL query to retrieve data from the "Volatility" table between two dates
sql_query = f"SELECT COUNT(PERMNO), PERMNO FROM `Monthly Returns` mr WHERE Date BETWEEN '{start_date}' AND '{end_date}' GROUP BY PERMNO"

# Execute the SQL query
cursor.execute(sql_query)

# Fetch all rows from the result set
observationTable_data = cursor.fetchall()

# Convert fetched data into a pandas DataFrame
columns = [i[0] for i in cursor.description]  # Extract column names from cursor description

#create new df
observation_df = pd.DataFrame(observationTable_data, columns=columns)

#close cursor and db connection
cursor.close()

# Print the DataFrame
observation_df

       COUNT(PERMNO)  PERMNO
0                 80   10001
1                 26   10002
2                 74   10025
3                121   10026
4                121   10028
...              ...     ...
12614              6   93432
12615             72   93433
12616            121   93434
12617             17   93435
12618            121   93436

[12619 rows x 2 columns]

Here, we remove securities that do not have enough observations (in our case, we look for at least 120)

In [51]:
#Filter securities with at least 120 observations in the period
observation_df_filtered = observation_df[pd.to_numeric(observation_df['COUNT(PERMNO)']) >=120]

#Inner join our dataframes to only keep the securities we have data on
universe_df_filtered = pd.merge(universe_df, observation_df_filtered, on='PERMNO', how='inner')

universe_df_filtered

,PERMNO,date,COMNAM,NAICS,PERMCO,...,VOL,RET,BID,ASK,COUNT(PERMNO)
0,10026,2011-01-31,J & J SNACK FOODS CORP,311821,7976,...,12928.0,-0.119610,42.47000,42.55000,121
1,10026,2011-02-28,J & J SNACK FOODS CORP,311821,7976,...,13651.0,0.035319,43.97000,43.99000,121
2,10026,2011-03-31,J & J SNACK FOODS CORP,311821,7976,...,14227.0,0.073175,46.96000,47.08000,121
3,10026,2011-04-29,J & J SNACK FOODS CORP,311821,7976,...,8807.0,0.079669,50.74000,50.82000,121
4,10026,2011-05-31,J & J SNACK FOODS CORP,311821,7976,...,9658.0,0.013774,51.50000,51.52000,121
...,...,...,...,...,...,...,...,...,...,...,...
478703,93436,2020-09-30,TESLA INC,336111,53453,...,17331954.0,-0.139087,428.82001,429.01999,121
478704,93436,2020-10-30,TESLA INC,336111,53453,...,8330610.0,-0.095499,388.04001,388.35001,121
478705,93436,2020-11-30,TESLA INC,336111,53453,...,7811501.0,0.462736,566.09998,566.85999,121
478706,93436,2020-12-31,TESLA INC,336111,53453,...,11962716.0,0.243252,705.21002,705.50000,121
478707,93436,2021-01-29,TESLA INC,336111,53453,...,7038597.0,0.124506,793.21997,793.25000,121

We can now add a few factors to our model, in this case we will use GDP, CPI (inflation data), and the unemployment rate in each month. We then add it to our monthly returns dataframe for our OLS regression

In [63]:
#Introduce our factor data below as a CSV (pandas datareader not currently working for FRED api)
macro_factors = pd.read_csv("UBCTG Factor Model Example - Macro FRED Data.csv")

#these dates are at the beginning of month, so we will operate on our monthly return dataframe to convert our dates to the beginning of the month
universe_df_filtered["date"] = pd.to_datetime(universe_df_filtered["date"]).dt.to_period('M').dt.to_timestamp()
display(universe_df_filtered)

macro_factors.dtypes
macro_factors["date"] = pd.to_datetime(macro_factors["DATE"])
macro_factors = macro_factors.drop('DATE', axis=1)
display(macro_factors)

universe_df_with_external_factors = pd.merge(universe_df_filtered, macro_factors, on= 'date', how='inner')

display(universe_df_with_external_factors)

#To do: Lag and fractionally differentiate the data

,PERMNO,date,COMNAM,NAICS,PERMCO,...,VOL,RET,BID,ASK,COUNT(PERMNO)
0,10026,2011-01-01,J & J SNACK FOODS CORP,311821,7976,...,12928.0,-0.119610,42.47000,42.55000,121
1,10026,2011-02-01,J & J SNACK FOODS CORP,311821,7976,...,13651.0,0.035319,43.97000,43.99000,121
2,10026,2011-03-01,J & J SNACK FOODS CORP,311821,7976,...,14227.0,0.073175,46.96000,47.08000,121
3,10026,2011-04-01,J & J SNACK FOODS CORP,311821,7976,...,8807.0,0.079669,50.74000,50.82000,121
4,10026,2011-05-01,J & J SNACK FOODS CORP,311821,7976,...,9658.0,0.013774,51.50000,51.52000,121
...,...,...,...,...,...,...,...,...,...,...,...
478703,93436,2020-09-01,TESLA INC,336111,53453,...,17331954.0,-0.139087,428.82001,429.01999,121
478704,93436,2020-10-01,TESLA INC,336111,53453,...,8330610.0,-0.095499,388.04001,388.35001,121
478705,93436,2020-11-01,TESLA INC,336111,53453,...,7811501.0,0.462736,566.09998,566.85999,121
478706,93436,2020-12-01,TESLA INC,336111,53453,...,11962716.0,0.243252,705.21002,705.50000,121
478707,93436,2021-01-01,TESLA INC,336111,53453,...,7038597.0,0.124506,793.21997,793.25000,121

,UNRATE,CPI (USACPALTT01CTGYM),"Annualized Percent Change of GDP from Preceding Period, Seasonally Adjusted",date
0,9.1,0.168134,-3.034413,2011-01-01
1,9.0,0.223168,-1.354698,2011-02-01
2,9.0,0.283405,4.315752,2011-03-01
3,9.1,0.307888,4.146784,2011-04-01
4,9.0,0.346291,2.485213,2011-05-01
...,...,...,...,...
116,7.8,1.332004,10.259221,2020-09-01
117,6.8,1.130982,-3.677010,2020-10-01
118,6.7,1.122155,-4.401027,2020-11-01
119,6.7,1.323012,3.579485,2020-12-01
120,6.4,1.365916,8.270387,2021-01-01

,PERMNO,date,COMNAM,NAICS,PERMCO,...,ASK,COUNT(PERMNO),UNRATE,CPI (USACPALTT01CTGYM),"Annualized Percent Change of GDP from Preceding Period, Seasonally Adjusted"
0,10026,2011-01-01,J & J SNACK FOODS CORP,311821,7976,...,42.55000,121,9.1,0.168134,-3.034413
1,10026,2011-02-01,J & J SNACK FOODS CORP,311821,7976,...,43.99000,121,9.0,0.223168,-1.354698
2,10026,2011-03-01,J & J SNACK FOODS CORP,311821,7976,...,47.08000,121,9.0,0.283405,4.315752
3,10026,2011-04-01,J & J SNACK FOODS CORP,311821,7976,...,50.82000,121,9.1,0.307888,4.146784
4,10026,2011-05-01,J & J SNACK FOODS CORP,311821,7976,...,51.52000,121,9.0,0.346291,2.485213
...,...,...,...,...,...,...,...,...,...,...,...
478703,93436,2020-09-01,TESLA INC,336111,53453,...,429.01999,121,7.8,1.332004,10.259221
478704,93436,2020-10-01,TESLA INC,336111,53453,...,388.35001,121,6.8,1.130982,-3.677010
478705,93436,2020-11-01,TESLA INC,336111,53453,...,566.85999,121,6.7,1.122155,-4.401027
478706,93436,2020-12-01,TESLA INC,336111,53453,...,705.50000,121,6.7,1.323012,3.579485
478707,93436,2021-01-01,TESLA INC,336111,53453,...,793.25000,121,6.4,1.365916,8.270387

In [ ]:
import statsmodels.api as sm